@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffdfa;
    color: #658394;
    margin: 0;
    padding: 0;
}

/* Navegacion */

.navegacion-principal{
    margin: 0;
    padding: 0;
}

.navegacion-principal ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e1d5c5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navegacion-principal li{
    display: inline;
    float: left;
}

.navegacion-principal a{
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
}

.navegacion-principal a:hover{
    background-color: #948673;
}

.sin-padding{
    padding: 0 !important;
}

.navegacion-logo {
    height: 46px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.destacado {
    background-color: #1b611c;
    
}

.texto-blanco{
    color: white !important;
}

.float-right{
    float: right !important;
}


/* Principal */

.imagen-redonda{
    border-radius: 50%;
}

.imagen-perfil{
    width: 256px;
}

.centrado{
    text-align: center;
}

.inicio{
    background-image: url("/img/galeria1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.titulo{
    color: white;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.7);
}

.biografia{
    border-radius: 25px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    width: 300px;
    margin: 25px auto 0 auto;
}